#blog-section{
    background-color: #222f3e;
    padding:20px 0;
}
.single-blog {
	background-color: #252525;
	width: 100%;  
	overflow: hidden; 
	border-radius: 6px;
    text-align: left;
}
.blog-img{ 
	overflow: hidden;
}
.single-blog a{
    text-decoration: none;
}
.single-blog a h4:hover{
	color:#FFC312;
}
.single-blog img{
	width: 100%;
	height: 270px; 
	overflow: hidden;
	transition: .8s;
}
.single-blog:hover img{
	transform:scale(1.2);
} 
.single-blog h4{
	font-size: 19px;
	font-weight: 700; 
	line-height: 25px;
	color:#fff;
	padding: 18px ;
	border-top:4px solid #FFC312;
}
.single-blog p{
	line-height: 24px; 
	margin-bottom:20px;
	padding: .40px 18px;
	font-size: 16px;
    color:#fff;
}